.button {
  padding: 1rem;
  background-color: #ff0000;
  color: white;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #cb0707;
}

.input-field {
  width: 100%;
  padding: 1rem;
}